<header class="header">
	<div class="h_top">
		<div class="header__container">
			<div class="row">
				<div class="col-12">
					<div class="header_wrapper">
						<div class="header_top">
							<div class="ht_logo">
								<a href="/">
									<img src="../images/logo.svg" alt="АИСТ логотип" />
									<span>Строительство и&nbsp;проектирование&nbsp;домов</span>
								</a>
							</div>
							<div class="htc_wrapper">
								<div class="ht_search">
									<div class="ht_search_cell">
										<input type="text" name="f_search" placeholder="Поиск по сайту">
									</div>
								</div>
								<div class="ht_contacts">
									<div class="htc_top">
										<div class="htc_social">
											<a href="#"><img src="../images/vk_logo.svg" alt=""></a>
											<a href="#"><img src="../images/tg_logo.svg" alt=""></a>
										</div>
										<div class="htc_phones">
											<div class="htc_phone"><a href="tel:+79066503000"><span>+7 (906) 650-30-00</span></a></div>
											<div class="htc_phone"><a href="tel:+74822602090"><span>+7 (4822) 60-20-90</span></a></div>
										</div>
									</div>
									<div class="htcp_wa"><a href="#">Написать в WhatsApp</a></div>
								</div>
								<div class="mm_trigger visible-xs">
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="h_bottom">
		<div class="header__container">
			<div class="row">
				<div class="col-12">
					<div class="header_bottom">
						<nav>
							<ul>
								<li>
									<a href="../services.html" class="@@if (context.page === 'services') {active}">Услуги</a>
									<ul>
										<li><a href="/">Строительство домов</a></li>
										<li><a href="/">Дома из кирпича</a></li>
										<li><a href="/">Дома из газобетона</a></li>
										<li><a href="/">Каркасные дома</a></li>
										<li><a href="/">Дома, облицованные кирпичом</a></li>
										<li><a href="/">Дома из керамических блоков </a></li>
										<li><a href="/">Дома с оштукатуренными фасадами</a></li>
									</ul>
								</li>
								<li><a href="#">Проекты</a></li>
								<li><a href="#">Построенные дома</a></li>
								<li><a href="../about.html" class="@@if (context.page === 'about') {active}">О нас</a></li>
								<li><a href="#">Контакты</a></li>
								<li><a href="../employees.html" class="@@if (context.page === 'employees') {active}">Наши сотрудники</a></li>
							</ul>
						</nav>
						<div class="hb_link">
							<button data-type="orderCall">Заказать звонок</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
