.about-company-section {
  padding-top: 23px;
  padding-bottom: 110px;
  //@include adaptiveClamp(padding-bottom, 110, 0, 1010, 320);
  @include mediaMx(1010) {
    padding-bottom: 0;
  }
  @include mediaMx(900) {
    padding-bottom: 60px;
  }

  &__breadcrumbs {
    margin-bottom: 23px;
    @include adaptiveClamp(margin-bottom, 23, 16, 1010, 320);
  }

  &__title {
    margin-bottom: 44px;
    font-weight: 800;
    font-size: 48px;
    @include adaptiveClamp(font-size, 48, 28, 1010, 320);
    @include adaptiveClamp(margin-bottom, 44, 30, 1010, 320);
  }
}
