.animated-target {
  position: relative;
}

.finger {
  display: none;
  position: absolute;
  top: 20px;
  width: 35px;
  height: 31px;
  background-image: url('../images/finger-swipe.svg');
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
  @include mediaMx(768) {
    display: block;
  }
}

.finger.animate {
  animation: leftRight 3s linear;
}

@keyframes leftRight {
  0% {
    right: 71px;
    opacity: 0;
  }
  50% {
    right: 37px;
    opacity: 0.5;
  }
  75% {
    right: 71px;
    opacity: 0.5;
  }
  100% {
    right: 54px;
    opacity: 0;
  }
}
