.office-images-section {
  position: relative;
  padding-bottom: 110px;
  @include adaptiveClamp(padding-bottom, 110, 60, 1010, 320);

  &__title {
    margin-bottom: 44px;
    font-weight: 800;
    font-size: 48px;
    @include adaptiveClamp(font-size, 48, 28, 1010, 320);
    @include adaptiveClamp(margin-bottom, 44, 30, 1010, 320);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @include mediaMx(768) {
      flex-wrap: nowrap;
      gap: normal;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3 - 20px)!important;
    height: 251px;
    background-color: #A9A9A9;
    @include adaptiveClamp(height, 251, 200, 1010, 768);
    @include adaptiveClamp(height, 350, 251, 768, 320);
    @include mediaMx(830) {
      width: calc(100% / 2 - 20px)!important;
    }

    @include mediaMx(768) {
      min-width: 100%;
    }

    span {
      color: #fff;
      font-weight: 500;
      font-size: 18px;
    }
  }

  &__pagination {
    display: none;
    margin-top: 16px;

    @include mediaMx(768) {
      display: flex;
      height: 3px;
      gap: 5px;
    }
    @include adaptiveClamp(height, 5, 3, 768, 320);
  }
}
