.other-services-section {
  padding-bottom: 110px;
  @include adaptiveClamp(padding-bottom, 110, 60, 890, 320);

  &__title {
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 48px;
    @include adaptiveClamp(font-size, 48, 28, 890, 320);
    @include adaptiveClamp(margin-bottom, 40, 30, 890, 320);
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    @include adaptiveClamp(gap, 22, 12, 1200, 320);
  }

  &__item {
    display: flex;
    align-items: center;
    padding-left: 46px;
    width: calc(100% / 2 - 11px);
    height: 100px;
    background-color: var(--bgcolor-blue-light);

    @include mediaMx(880) {
      padding-left: 25px;
      width: 100%;
    }
    @include adaptiveClamp(height, 100, 61, 1200, 320);
    //@include adaptiveClamp(padding-left, 65, 0, 1200, 320);
  }

  &__icon {
    margin-right: 24px;
    display: flex;
    justify-content: flex-end;
    //width: 110px;
    @include adaptiveClamp(margin-right, 40, 0, 1200, 320);
    @include mediaMx(880) {
      margin-right: 20px;
    }

    img {
      object-fit: contain;
      @include adaptiveClamp(height, 80, 40, 1200, 320);
    }
  }

  &__text {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.3;
    @include adaptiveClamp(font-size, 30, 16, 1200, 320);
  }

  &__btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}
