.partners-section {
  padding-bottom: 110px;
  @include adaptiveClamp(padding-bottom, 110, 60, 1010, 320);

  &__title {
    margin-bottom: 44px;
    font-weight: 800;
    font-size: 48px;
    @include adaptiveClamp(font-size, 44, 28, 1010, 320);
    @include adaptiveClamp(margin-bottom, 44, 37, 1010, 320);
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

    @include mediaMx(1060) {
      gap: 40px 0;
    }

    @include mediaMx(400) {
      gap: 30px 0;
    }
  }

  &__item {
    display: inline-flex;
    align-items: center;
    width: calc(100% / 4 - 30px);
    opacity: 0.3;
    transition: opacity $transition;

    @include anyHover {
      opacity: 1;
    }

    @include mediaMx(1060) {
      width: calc(100% / 3 - 25px);
      opacity: 1;
    }

    @include mediaMx(400) {
      width: calc(100% / 3 - 15px);
    }
  }

  &__img {
    width: 60%;
    object-fit: cover;

    @include mediaMx(1060) {
      width: 90%;
    }

    &.domrf {
      width: 50px;
    }
  }
}
