.promotions-section {
  margin-bottom: 110px;
  padding: 71px 0;
  background-color: var(--bgcolor-blue-light);
  @include adaptiveClamp(margin-bottom, 110, 60, 1200, 320);
  @include adaptiveClamp(padding-top, 71, 30, 1200, 320);

  .swiper-promotions-container {
    overflow: hidden;
    height: 100%;
  }

  .swiper-wrapper {
    display: flex;
    margin-bottom: 78px;
  }

  .swiper-slide {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
  }

  .swiper-pagination {
    justify-content: flex-start;
    padding: 0;
  }

  &__swiper-directs {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    margin-right: 30px;
    width: 485px;

    @include mediaMx(768) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__right {
    width: 560px;
    height: 280px;

    @include mediaMx(768) {
      margin-bottom: 30px;
      width: 100%;
      @include adaptiveClamp(height, 410, 137, 768, 320);
    }
  }

  &__btn {
    @include mediaMx(768) {
      width: 100%;
      height: 60px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 800;
    @include adaptiveClamp(margin-bottom, 20, 30, 1200, 320);
    @include adaptiveClamp(font-size, 32, 28, 1200, 320);
  }

  &__description {
    margin-bottom: 13px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    @include adaptiveClamp(font-size, 18, 14, 768, 320);
  }

  &__small {
    display: flex;
    flex-direction: column;
    margin-bottom: 21px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
  }
}
