.timeline-carousel {
  position: relative;
  overflow: hidden;
  height: 930px;

  @include mediaMx(1010) {
    //overflow: visible;
    height: 350px;
  }
  @include adaptiveClamp(height, 600, 285, 900, 320);

  @include pseudocell(after) {
    bottom: 0;
    background: #ffffff;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(237, 221, 83, 0) 100%);
    width: 100%;
    height: 450px;
    z-index: 1;

    @include mediaMx(1010) {
      content: none;
    }
  }

  &__stop-scroll {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 100%;
    z-index: 1;

    @include mediaMx(1010) {
      display: none;
    }
  }

  &__instruction {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(40, 70, 100, 0.4) 68.13%, rgba(40, 70, 100, 0) 94.42%);
    opacity: 1;
    z-index: 1;
    transition: opacity $transition;

    &-text {
      margin-bottom: 30px;
      padding-top: 250px;
      font-weight: 800;
      font-size: 40px;
      line-height: 1.2;
      color: #fff;
    }

    span {
      padding-left: 40px;
    }

    @include mediaMx(1010) {
      display: none;
    }
  }

  &__list {
    position: absolute;
    top: 5px;
    display: flex;
    flex-direction: column;

    @include mediaMx(1010) {
      top: auto;
      flex-direction: row;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;

    &.active {
      .timeline-carousel__img {
        width: 100%;
      }

      .timeline-carousel__text {
        @include mediaMn(1010) {
          transform: scale(1.5);
          padding: 40px;
        }

        //@include adaptiveClamp(font-size, 18, 14, 900, 320);
      }

      .timeline-carousel__year {
        padding-right: 0;
      }

      .timeline-carousel__year-number {
        @include mediaMn(1010) {
          transform: scale(1.5);
        }
        //@include adaptiveClamp(font-size, 75, 36, 900, 320);
      }

      .timeline-carousel__figure {
        min-width: 36px;
        min-height: 36px;
        background-color: var(--bgcolor-blue-deep);
      }
    }
    @include mediaMx(1010) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__left {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include mediaMx(1010) {
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
    }
  }

  &__img-wrap {
    display: flex;
    align-items: center;
    width: 45%;

    @include mediaMx(1160) {
      width: 50%;
    }

    @include mediaMx(1010) {
      width: 100%;
    }
  }
  
  &__img {
    width: 350px;
    height: 205px;
    object-fit: cover;
    transition: width $transition300;

    @include adaptiveClamp(width, 350, 280, 1160, 890);
    @include adaptiveClamp(height, 205, 165, 1160, 890);
    @include mediaMx(1010) {
      height: 170px;
    }
    @include mediaMx(900) {
      width: 100%;
    }
    @include adaptiveClamp(height, 460, 160, 900, 320);
  }

  &__year {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    text-align: center;
    padding-right: 20px;

    @include mediaMx(1160) {
      width: 50%;
    }

    @include mediaMx(1010) {
      justify-content: center;
      width: 100%;
    }
  }

  &__year-number {
    margin-bottom: 15px;
    font-size: 50px;
    transition: transform $transition300;

    @include mediaMx(1010) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  &__figure {
    position: relative;
    min-width: 20px;
    min-height: 20px;
    border: 2px solid var(--bgcolor-blue-deep);
    transition: all $transition300;

    @include pseudocell(after) {
      top: 18px;
      left: 50%;
      width: 2px;
      height: 86px;
      background-color: var(--bgcolor-blue-deep);
      transform: translateX(-50%);
    }

    @include mediaMx(1010) {
      display: none;
    }
  }

  &__text {
    width: 33%;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    transition: transform $transition300;

    @include mediaMx(1010) {
      width: 100%;
      text-align: center;
    }
  }
}

.swiper-vertical-container {
  width: 100%;
  height: 100%;
}
