<section class="about-service-section">
  <div class="about-service-section__container">
    <div class="about-service-section__content">
      <h2 class="about-service-section__title">Об услуге</h2>

      <p class="about-service-section__description">
        Строительство домов из кирпича – это надежное и долговечное решение, проверенное временем. Кирпич обеспечивает отличную тепло- и звукоизоляцию, устойчив к воздействию окружающей среды и позволяет реализовать широкий спектр архитектурных решений. Наша компания предлагает полный комплекс услуг
        по строительству кирпичных домов, от разработки проекта до сдачи объекта.
      </p>

      <p class="about-service-section__description"><strong>В данный тип строительства входят дополнительные акции: «Бесплатная консультация ландшафтного архитектора!» и «Проект — бесплатно!».</strong></p>
    </div>
      <div class="about-service-section__promos-items">
        <div class="swiper-promo-container">
          <div class="swiper-wrapper">
            <div class="promo-item swiper-slide animated-target">
              <div class="finger"></div>
              <a href="#">
                <div class="promo-item__wrapper">

                  <h3 class="promo-item__title">«Бесплатная консультация ландшафтного архитектора!»</h3>

                  <div class="promo-item__content">
                    <p class="promo-item__description">После окончания строительства вашего дома, вы получаете бесплатную консультацию с ландшафтным архитектором!</p>

                    <h4 class="promo-item__small-title">Преимущества консультации:</h4>

                    <ul class="promo-item__list">
                      <li class="promo-item__item">Индивидуальный подход к вашему участку.</li>
                      <li class="promo-item__item">Обсуждение идей по выбору растений и элементов ландшафта.</li>
                      <li class="promo-item__item">Рекомендации по грамотному освоению участка.</li>
                    </ul>
                  </div>
                </div>

                <div class="promo-item__prev" style="background: url('../images/promo-prev.png') no-repeat; background-size: cover;"></div>
              </a>
            </div>
            <div class="promo-item swiper-slide">
              <a href="#">
                <div class="promo-item__wrapper">
                  <h3 class="promo-item__title">«Проект — бесплатно!»</h3>

                  <div class="promo-item__content">
                    <p class="promo-item__description">
                      При заключении договора с нашей компанией на строительство дома
                      <strong>ПРОЕКТ = БЕСПЛАТНО.</strong>
                    </p>
                    <p class="promo-item__description">
                      Уникальная возможность сэкономить время!
                    </p>
                  </div>
                </div>

                <div class="promo-item__prev" style="background: url('../images/promo-prev.png') no-repeat; background-size: cover;"></div>
              </a>
            </div>
            <div class="promo-item swiper-slide">
              <a href="#">
                <div class="promo-item__wrapper">

                  <h3 class="promo-item__title">«Бесплатная консультация ландшафтного архитектора!»</h3>

                  <div class="promo-item__content">
                    <p class="promo-item__description">После окончания строительства вашего дома, вы получаете бесплатную консультацию с ландшафтным архитектором!</p>

                    <h4 class="promo-item__small-title">Преимущества консультации:</h4>

                    <ul class="promo-item__list">
                      <li class="promo-item__item">Индивидуальный подход к вашему участку.</li>
                      <li class="promo-item__item">Обсуждение идей по выбору растений и элементов ландшафта.</li>
                      <li class="promo-item__item">Рекомендации по грамотному освоению участка.</li>
                    </ul>
                  </div>
                </div>

                <div class="promo-item__prev" style="background: url('../images/promo-prev.png') no-repeat; background-size: cover;"></div>
              </a>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
</section>
