<section class="answers-section">
  <div class="answers-section__container">
    <h2 class="answers-section__title">
      Ответы на часто<br>задаваемые вопросы
    </h2>

    <div class="answers-section__content">
      <div class="faq-container">
        <!-- Левая колонка -->
        <div class="faq-column">
          <div class="faq-item">
            <div class="faq-question">
              @@include('arrow-down.html')
              Каковы сроки и этапы строительства, а также график финансирования проекта?
            </div>
            <div class="faq-answer">
              Мы прописываем подробный график оплат с указанием сроков выполнения каждого этапа строительства в договоре, сроки выполнения работ - индивидуальные.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-question">
              @@include('arrow-down.html')
              Какие гарантии вы предоставляете на выполненные работы и используемые материалы?
            </div>
            <div class="faq-answer">
              Мы предоставляем гарантию на все выполненные работы и используемые материалы в соответствии с действующим законодательством. Гарантийные обязательства оговариваются в договоре.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-question">
              @@include('arrow-down.html')
              Каким образом будет осуществляться контроль качества строительства и взаимодействие с заказчиком?
            </div>
            <div class="faq-answer">
              Контроль качества строительства осуществляется специалистами нашей компании на всех этапах работ. Мы регулярно информируем заказчика о ходе строительства и принимаем его замечания для улучшения процесса.
            </div>
          </div>
        </div>

        <!-- Правая колонка -->
        <div class="faq-column">
          <div class="faq-item">
            <div class="faq-question">
              @@include('arrow-down.html')
              Кто у вас работает?
            </div>
            <div class="faq-answer">
              Наша команда состоит из профессиональных строителей, архитекторов и менеджеров, имеющих богатый опыт в сфере строительства частных домов и коттеджей.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-question">
              @@include('arrow-down.html')
              Обязательно иметь свой проект, чтобы начать строительство дома?
            </div>
            <div class="faq-answer">
              Да, для начала строительства необходим проект дома. Если у вас нет готового проекта, мы можем предложить услуги наших архитекторов для разработки проекта под ваши требования.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-question">
              @@include('arrow-down.html')
              Каким образом происходит оплата?
            </div>
            <div class="faq-answer">
              Оплата производится согласно графику, указанному в договоре. Обычно платежи делятся на несколько этапов, связанных с выполнением конкретных работ (например, фундамент, стены, кровля и т.д.).
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-question">
              @@include('arrow-down.html')
              После заключения договора стоимость строительства может измениться?
            </div>
            <div class="faq-answer">
              Стоимость строительства может изменяться только в случае внесения существенных изменений в проект или при изменении стоимости материалов на рынке. Все изменения будут согласованы с заказчиком.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-question">
              @@include('arrow-down.html')
              Можно у вас заказать только фундамент?
            </div>
            <div class="faq-answer">
              Да, мы можем выполнить только фундамент по вашему проекту. Однако рекомендуем рассмотреть возможность комплексного подхода к строительству, чтобы обеспечить максимальную эффективность и качество.
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
