<section class="built-houses-section">
  <div class="built-houses-section__container">
    <h2 class="built-houses-section__title">Построенные дома</h2>

    <div class="built-houses-section__content">

      <div class="built-house-block">
        <a href="#" class="built-house-block__link">
          <div
            class="built-house-block__image"
            style="background: url('../images/built-house1.png') no-repeat center; background-size: cover;')"
          ></div>
          <div class="built-house-block__content">
            <div class="built-house-block__text">
              Дом по индивидуальному проекту АИСТ-262 в Московоской области. Общая площадь 262 м2
            </div>
          </div>
        </a>
      </div>

      <div class="built-house-block">
        <a href="#" class="built-house-block__link">
          <div
            class="built-house-block__image"
            style="background: url('../images/built-house2.png') no-repeat center; background-size: cover;')"
          ></div>
          <div class="built-house-block__content">
            <div class="built-house-block__text">
              Дом по индивидуальному проекту АИСТ-212 в Тверской области. Общая площадь 212 м2
            </div>
          </div>
        </a>
      </div>

    </div>

    <div class="built-houses-section__more-btn">
      <a href="#" class="btn built-houses-section__btn">Смотреть все дома</a>
    </div>
  </div>
</section>
