<section class="clients-comments-section animated-target">
  <div class="finger"></div>
  <div class="clients-comments-section__container">
    <h2 class="clients-comments-section__title">Отзывы клиентов</h2>
      <div class="clients-comments-section__content">

      <div class="cards-slide swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-slide__review_block">
              <div class="swiper-slide__header">
                <div class="swiper-slide__user">
                  <img class="swiper-slide__avatar" src="../images/user_sign.svg" alt="">
                  <span class="swiper-slide__user-name">Татьяна1 Киселева</span>
                </div>
                <div class="swiper-slide__rating">
                  <div class="swiper-slide__rating-stars">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                  </div>
                  <div class="swiper-slide__rating-date">5 ноября 2024</div>
                </div>
              </div>
              <div class="swiper-slide__body">
                <p class="swiper-slide__comment-text">
                  Эта компания построила мне дом (каркасный) от начала и до конца в деревне Каменка. (внешняя отделка на будущий год). Хочу тоже поделиться своими впечатления. Получилось так,  что компанию выбирала примерно год. К ним пришла в августе 2023 года.
                  Эта компания построила мне дом (каркасный) от начала и до конца в деревне Каменка. (внешняя отделка на будущий год). Хочу тоже поделиться своими впечатления. Получилось так,  что компанию выбирала примерно год. К ним пришла в августе 2023 года.
                  Эта компания построила мне дом (каркасный)
                </p>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="swiper-slide__review_block">
              <div class="swiper-slide__header">
                <div class="swiper-slide__user">
                  <img class="swiper-slide__avatar" src="../images/user_sign.svg" alt="">
                  <span class="swiper-slide__user-name">Татьяна2 Киселева</span>
                </div>
                <div class="swiper-slide__rating">
                  <div class="swiper-slide__rating-stars">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                  </div>
                  <div class="swiper-slide__rating-date">5 ноября 2024</div>
                </div>
              </div>
              <div class="swiper-slide__body">
                <p class="swiper-slide__comment-text">
                  Эта компания построила мне дом (каркасный) от начала и до конца в деревне Каменка. (внешняя отделка на будущий год). Хочу тоже поделиться своими впечатления. Получилось так,  что компанию выбирала примерно год. К ним пришла в августе 2023 года.
                  Эта компания построила мне дом (каркасный) от начала и до конца в деревне Каменка. (внешняя отделка на будущий год). Хочу тоже поделиться своими впечатления. Получилось так,  что компанию выбирала примерно год. К ним пришла в августе 2023 года.
                  Эта компания построила мне дом (каркасный)
                </p>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="swiper-slide__review_block">
              <div class="swiper-slide__header">
                <div class="swiper-slide__user">
                  <img class="swiper-slide__avatar" src="../images/user_sign.svg" alt="">
                  <span class="swiper-slide__user-name">Татьяна3 Киселева</span>
                </div>
                <div class="swiper-slide__rating">
                  <div class="swiper-slide__rating-stars">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                  </div>
                  <div class="swiper-slide__rating-date">5 ноября 2024</div>
                </div>
              </div>
              <div class="swiper-slide__body">
                <p class="swiper-slide__comment-text">
                  Эта компания построила мне дом (каркасный) от начала и до конца в деревне Каменка. (внешняя отделка на будущий год). Хочу тоже поделиться своими впечатления. Получилось так,  что компанию выбирала примерно год. К ним пришла в августе 2023 года.
                  Эта компания построила мне дом (каркасный) от начала и до конца в деревне Каменка. (внешняя отделка на будущий год). Хочу тоже поделиться своими впечатления. Получилось так,  что компанию выбирала примерно год. К ним пришла в августе 2023 года.
                  Эта компания построила мне дом (каркасный)
                </p>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="swiper-slide__review_block">
              <div class="swiper-slide__header">
                <div class="swiper-slide__user">
                  <img class="swiper-slide__avatar" src="../images/user_sign.svg" alt="">
                  <span class="swiper-slide__user-name">Татьяна4 Киселева</span>
                </div>
                <div class="swiper-slide__rating">
                  <div class="swiper-slide__rating-stars">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                  </div>
                  <div class="swiper-slide__rating-date">5 ноября 2024</div>
                </div>
              </div>
              <div class="swiper-slide__body">
                <p class="swiper-slide__comment-text">
                  Эта компания построила мне дом (каркасный) от начала и до конца в деревне Каменка. (внешняя отделка на будущий год). Хочу тоже поделиться своими впечатления. Получилось так,  что компанию выбирала примерно год. К ним пришла в августе 2023 года.
                  Эта компания построила мне дом (каркасный) от начала и до конца в деревне Каменка. (внешняя отделка на будущий год). Хочу тоже поделиться своими впечатления. Получилось так,  что компанию выбирала примерно год. К ним пришла в августе 2023 года.
                  Эта компания построила мне дом (каркасный)
                </p>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="swiper-slide__review_block">
              <div class="swiper-slide__header">
                <div class="swiper-slide__user">
                  <img class="swiper-slide__avatar" src="../images/user_sign.svg" alt="">
                  <span class="swiper-slide__user-name">Татьяна5 Киселева</span>
                </div>
                <div class="swiper-slide__rating">
                  <div class="swiper-slide__rating-stars">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                  </div>
                  <div class="swiper-slide__rating-date">5 ноября 2024</div>
                </div>
              </div>
              <div class="swiper-slide__body">
                <p class="swiper-slide__comment-text">
                  Эта компания построила мне дом (каркасный) от начала и до конца в деревне Каменка. (внешняя отделка на будущий год). Хочу тоже поделиться своими впечатления. Получилось так,  что компанию выбирала примерно год. К ним пришла в августе 2023 года.
                  Эта компания построила мне дом (каркасный) от начала и до конца в деревне Каменка. (внешняя отделка на будущий год). Хочу тоже поделиться своими впечатления. Получилось так,  что компанию выбирала примерно год. К ним пришла в августе 2023 года.
                  Эта компания построила мне дом (каркасный)
                </p>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="swiper-slide__review_block">
              <div class="swiper-slide__header">
                <div class="swiper-slide__user">
                  <img class="swiper-slide__avatar" src="../images/user_sign.svg" alt="">
                  <span class="swiper-slide__user-name">Татьяна6 Киселева</span>
                </div>
                <div class="swiper-slide__rating">
                  <div class="swiper-slide__rating-stars">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                    <img src="../images/star.svg" alt="">
                  </div>
                  <div class="swiper-slide__rating-date">5 ноября 2024</div>
                </div>
              </div>
              <div class="swiper-slide__body">
                <p class="swiper-slide__comment-text">
                  Эта компания построила мне дом (каркасный) от начала и до конца в деревне Каменка. (внешняя отделка на будущий год). Хочу тоже поделиться своими впечатления. Получилось так,  что компанию выбирала примерно год. К ним пришла в августе 2023 года.
                  Эта компания построила мне дом (каркасный) от начала и до конца в деревне Каменка. (внешняя отделка на будущий год). Хочу тоже поделиться своими впечатления. Получилось так,  что компанию выбирала примерно год. К ним пришла в августе 2023 года.
                  Эта компания построила мне дом (каркасный)
                </p>
              </div>
            </div>
          </div>

        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper_navigation">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

      </div>
    </div>
  </div>
</section>
