<section class="contacts-page-section">
  <div class="contacts-page-section__container">
    <div class="cp_header">
      <div class="cph_box">
        <div class="cphb_caption">Приехать лично</div>
        <div class="cphb_data">
          <div class="cphbd_text"><span>г.&nbsp;Тверь, ул.&nbsp;Московская, д.&nbsp;1, офис&nbsp;52 с&nbsp;09:00&nbsp;до&nbsp;21:00</span> (Позвоните перед посещением)</div>
        </div>
      </div>
      <div class="cph_box">
        <div class="cphb_caption">Позвонить</div>
        <div class="cphb_data"><a href="tel:+79066503000">+7 (906) 650-30-00</a></div>
        <div class="cphb_data"><a href="tel:+74822602090">+7 (4822) 60-20-90</a></div>
      </div>
      <div class="cph_box">
        <div class="cphb_caption">Написать</div>
        <div class="cphb_data"><a href="mailto:zakaz@sk-aist.ru">zakaz@sk-aist.ru</a></div>
      </div>
    </div>
    <div class="cp_body">
      <div class="cpb_map" id="map_1"></div>
    </div>
    <div class="cp_footer">
      <div class="cph_box">
        <div class="cphb_caption">Социальные сети</div>
        <div class="cphb_data">
          <a href="#"><img src="../images/vk_logo.svg" alt=""> ВКонтакте</a>
        </div>
      </div>
      <div class="cph_box">
        <div class="cphb_caption">Мессенджеры</div>
        <div class="cphb_data">
          <a href="#"><img src="../images/tg_logo.svg" alt=""> Telegram</a>
          <a href="#"><img src="../images/wa_logo.svg" alt=""> WhatsApp</a>
        </div>
      </div>
      <div class="cph_box">
        <div class="cphb_caption">Реквизиты</div>
        <div class="cphb_data">
          <a href="#"><img src="../images/dl_sign.svg" alt=""> Скачать</a>
        </div>
      </div>
    </div>
  </div>
</section>
