<section class="documents-section">
  <div class="documents-section__container">
    <h2 class="documents-section__title">Документы</h2>
    <div class="animated-target" id="target1">
      <div class="documents-section__sliders">
      <div class="cards-slide swiper-container">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="documents-download-card">
              <div class="documents-download-card__img-wrapper">
                <img src="../images/document-icon.svg" alt="" class="documents-download-card__img">
              </div>
            </div>
          </div>


          <div class="swiper-slide">
            <div class="documents-download-card">
              <div class="documents-download-card__img-wrapper">
                <img src="../images/document-icon.svg" alt="" class="documents-download-card__img">
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="documents-download-card">
              <div class="documents-download-card__img-wrapper">
                <img src="../images/document-icon.svg" alt="" class="documents-download-card__img">
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="documents-download-card">
              <div class="documents-download-card__img-wrapper">
                <img src="../images/document-icon.svg" alt="" class="documents-download-card__img">
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="documents-download-card">
              <div class="documents-download-card__img-wrapper">
                <img src="../images/document-icon.svg" alt="" class="documents-download-card__img">
              </div>
            </div>
          </div>

        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper_navigation">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

      </div>
    </div>
      <div class="finger"></div>
    </div>
  </div>
</section>
