<section class="employees-section-section">
  <div class="employees-section-section__container">
    <div class="breadcrumbs breadcrumbs--dark employees-section-section__breadcrumbs">
      <a href="#" class="breadcrumbs__link">Главная</a>
      <a href="../about.html" class="breadcrumbs__link">О нас</a>
      <div class="breadcrumbs__link breadcrumbs__link--current">Наши сотрудники</div>
    </div>

    <h1 class="employees-section-section__title">Наши сотрудники</h1>

    <div class="employees-section-section__content">
      <ul class="employees-section-section__list">
        <li class="employees-section-section__item">
          <div class="employee-card">
            <img src="../images/employees/employer1.png" alt="Эдуард Потоцкий" class="employee-card__img">
            <div class="employee-card__info">
              <div class="employee-card__name">Эдуард Потоцкий</div>
              <div class="employee-card__post">Генеральный директор</div>
            </div>
          </div>
        </li>

        <li class="employees-section-section__item">
          <div class="employee-card">
            <img src="../images/employees/employer2.png" alt="Максим Пирожников" class="employee-card__img">
            <div class="employee-card__info">
              <div class="employee-card__name">Максим Пирожников</div>
              <div class="employee-card__post">Руководитель строительного производства</div>
            </div>
          </div>
        </li>

        <li class="employees-section-section__item">
          <div class="employee-card">
            <img src="../images/employees/employer3.png" alt="Михаил Репринцев" class="employee-card__img">
            <div class="employee-card__info">
              <div class="employee-card__name">Михаил Репринцев</div>
              <div class="employee-card__post">Руководитель проектов</div>
            </div>
          </div>
        </li>

        <li class="employees-section-section__item">
          <div class="employee-card">
            <img src="../images/employees/employer4.png" alt="Максим Егоров" class="employee-card__img">
            <div class="employee-card__info">
              <div class="employee-card__name">Максим Егоров</div>
              <div class="employee-card__post">Инженер-сметчик</div>
            </div>
          </div>
        </li>

        <li class="employees-section-section__item">
          <div class="employee-card">
            <img src="../images/employees/employer5.png" alt="Вероника Федоренко" class="employee-card__img">
            <div class="employee-card__info">
              <div class="employee-card__name">Вероника Федоренко</div>
              <div class="employee-card__post">SMM-специалист</div>
            </div>
          </div>
        </li>

        <li class="employees-section-section__item">
          <div class="employee-card">
            <div class="employee-card__img employee-card__img--empty">
              <div class="employee-card__empty-text">&#x2022; фото сотрудника</div>
            </div>
            <div class="employee-card__info">
              <div class="employee-card__name">Татьяна Миронская</div>
              <div class="employee-card__post">Ландшафтный архитектор</div>
            </div>
          </div>
        </li>

        <li class="employees-section-section__item">
          <div class="employee-card">
            <div class="employee-card__img employee-card__img--empty">
              <div class="employee-card__empty-text">&#x2022; фото сотрудника</div>
            </div>
            <div class="employee-card__info">
              <div class="employee-card__name">Анастасия Дубова</div>
              <div class="employee-card__post">Дизайнер интерьеров</div>
            </div>
          </div>
        </li>

        <li class="employees-section-section__item">
          <div class="employee-card">
            <img src="../images/employees/employer8.png" alt="Александр Шаритдинов" class="employee-card__img">

            <div class="employee-card__info">
              <div class="employee-card__name">Александр Шаритдинов</div>
              <div class="employee-card__post">Производитель работ</div>
            </div>
          </div>
        </li>

        <li class="employees-section-section__item">
          <div class="employee-card">
            <div class="employee-card__img employee-card__img--empty">
              <div class="employee-card__empty-text">&#x2022; фото сотрудника</div>
            </div>
            <div class="employee-card__info">
              <div class="employee-card__name">Виктор Самсонов</div>
              <div class="employee-card__post">Производитель работ</div>
            </div>
          </div>
        </li>

        <li class="employees-section-section__item">
          <div class="employee-card">
            <img src="../images/employees/employer10.png" alt="Антон Антонов" class="employee-card__img">

            <div class="employee-card__info">
              <div class="employee-card__name">Антон Антонов</div>
              <div class="employee-card__post">Бригадир<br>по монолитным работам</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
