<div class="aist_block aist_4">
  <div class="aist_block__container">
    <div class="row">
      <div class="col-12">
        <div class="block_body">
          <div class="bb_header">Хотите узнать больше о наших проектах и получить расчет стоимости?</div>
          <div class="bb_text">Наши менеджеры свяжутся с вами, чтобы подробнее обсудить все детали.</div>
          <div class="bb_form">
            <form action="#" method="post">
              <div class="bbf_box"><input type="text" placeholder="Ваше имя" required></div>
              <div class="bbf_box"><input type="tel" placeholder="Номер телефона" required></div>
              <div class="bbf_box"><input type="text" placeholder="Задача"></div>
              <div class="bbf_box">
                <input type="submit" value="Отправить" class="btn white_hover">
                <label class="form_label" for="f1_agreement">
                  <input id="f1_agreement" type="checkbox" name="ua" required>
                  <span>Я согласен на&nbsp;<a href="#" target="_blank">обработку персональных данных</a></span>
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
