<section class="service-section" style="background: url('../images/brick.png') no-repeat center center; background-size: cover;')">
  <div class="service-section__container">
    <div class="breadcrumbs">
      <a href="#" class="breadcrumbs__link">Главная</a>
      <a href="#" class="breadcrumbs__link">Услуги</a>
      <div class="breadcrumbs__link breadcrumbs__link--current">Дома из кирпича</div>
    </div>

    <div class="service-section__content">
      <h1 class="service-section__title">Дома<br>из кирпича</h1>

      <p class="service-section__description">
        Кирпич – символ надежности и долговечности. Дома из кирпича отличаются прекрасной тепло-
        и звукоизоляцией, устойчивостью к атмосферным воздействиям и благородным внешним видом
      </p>

      <button type="button" class="white_hover">Получить консультацию</button></div>
    </div>

</section>
