<section class="house-cost-section">
  <div class="house-cost-section__container">
    <h2 class="house-cost-section__title">Стоимость кирпичного дома</h2>

    <p class="house-cost-section__description"><span>Стоимость строительства кирпичного дома</span> зависит от многих факторов, таких как площадь дома, сложность проекта, используемые материалы и удаленность объекта. Для получения точной сметы необходимо провести индивидуальный расчет, учитывающий все ваши пожелания и особенности участка.</p>
    <p class="house-cost-section__description">Мы предлагаем прозрачную систему ценообразования и детальную смету на каждом этапе строительства.
      Свяжитесь с нами, чтобы получить консультацию и узнать предварительную стоимость вашего будущего дома.</p>
    <p class="house-cost-section__description"><span>Для домов из кирпича</span> стоимость с материалами составляет от <strong>33.000 руб/м2.</strong></p>
  </div>
</section>
