<section class="office-images-section">
  <div class="office-images-section__container">
    <h2 class="office-images-section__title">Наш офис</h2>

    <div class="office-images-section__content">
      <ul class="office-images-section__list">
        <li class="office-images-section__item"><span>&#x2022; фото офиса</span></li>
        <li class="office-images-section__item"><span>&#x2022; фото офиса</span></li>
        <li class="office-images-section__item"><span>&#x2022; фото офиса</span></li>
        <li class="office-images-section__item"><span>&#x2022; фото офиса</span></li>
        <li class="office-images-section__item"><span>&#x2022; фото офиса</span></li>
        <li class="office-images-section__item"><span>&#x2022; фото офиса</span></li>
      </ul>
    </div>
  </div>
</section>
