<section class="office-images-section">
  <div class="office-images-section__container">
    <h2 class="office-images-section__title">Наш офис</h2>
    <!-- Блок с анимированным пальцем -->
    <div class="animated-target" id="target1">
      <div class="office-images-section__content swiper-promo-container">
        <ul class="office-images-section__list swiper-wrapper">
          <li class="office-images-section__item swiper-slide"><span>&#x2022; фото офиса</span></li>
          <li class="office-images-section__item swiper-slide"><span>&#x2022; фото офиса</span></li>
          <li class="office-images-section__item swiper-slide"><span>&#x2022; фото офиса</span></li>
          <li class="office-images-section__item swiper-slide"><span>&#x2022; фото офиса</span></li>
          <li class="office-images-section__item swiper-slide"><span>&#x2022; фото офиса</span></li>
          <li class="office-images-section__item swiper-slide"><span>&#x2022; фото офиса</span></li>
        </ul>
        <div class="office-images-section__pagination swiper-pagination"></div>
      </div>

      <div class="finger"></div>
    </div>
  </div>
</section>
