<section class="other-services-section">
  <h2 class="other-services-section__title">@@title</h2>

  <div class="other-services-section__content">
    <a href="/" class="other-services-section__item">
      <div class="other-services-section__icon">
        <img src="../images/item-services1.svg" alt="">
      </div>
      <div class="other-services-section__text">Строительство<br>домов</div>
    </a>

    <a href="/" class="other-services-section__item">
      <div class="other-services-section__icon">
        <img src="../images/item-services2.svg" alt="">
      </div>
      <div class="other-services-section__text">Каркасные<br>дома</div>
    </a>

    <a href="/" class="other-services-section__item">
      <div class="other-services-section__icon">
        <img src="../images/item-services3.svg" alt="">
      </div>
      <div class="other-services-section__text">Индивидуальное<br>проектирование</div>
    </a>

    <a href="/" class="other-services-section__item">
      <div class="other-services-section__icon">
        <img src="../images/item-services4.svg" alt="">
      </div>
      <div class="other-services-section__text">Дома из керамических<br>блоков</div>
    </a>
    @@if (context.all === true) {
      <a href="/" class="other-services-section__item">
        <div class="other-services-section__icon">
          <img src="../images/item-services5.svg" alt="">
        </div>
        <div class="other-services-section__text">Дома из<br>кирпича</div>
      </a>

      <a href="/" class="other-services-section__item">
        <div class="other-services-section__icon">
          <img src="../images/item-services6.svg" alt="">
        </div>
        <div class="other-services-section__text">Комбинированные<br>дома</div>
      </a>

      <a href="/" class="other-services-section__item">
        <div class="other-services-section__icon">
          <img src="../images/item-services7.svg" alt="">
        </div>
        <div class="other-services-section__text">Дома из<br>газобетона</div>
      </a>
    }
  </div>

  @@if (context.all === false) {
    <div class="other-services-section__btn">
      <a href="/services.html" class="btn">Смотреть все услуги</a>
    </div>
  }

</section>
