<section class="partners-section">
  <div class="partners-section__container">
    <h2 class="partners-section__title">Партнеры</h2>

    <div class="partners-section__content">
      <ul class="partners-section__list">
        <li class="partners-section__item">
          <img src="../images/partners/petrovich.png" alt="логотип Петрович" class="partners-section__img">
        </li>
        <li class="partners-section__item partners-section__item--right">
          <img src="../images/partners/grandline.svg" alt="логотип grandline" class="partners-section__img">
        </li>
        <li class="partners-section__item partners-section__item--right">
          <img src="../images/partners/istkult.svg" alt="логотип istkult" class="partners-section__img">
        </li>
        <li class="partners-section__item partners-section__item--right">
          <img src="../images/partners/domrf.svg" alt="логотип domrf" class="partners-section__img domrf">
        </li>
        <li class="partners-section__item">
          <img src="../images/partners/porotherm.png" alt="логотип porotherm" class="partners-section__img">
        </li>
        <li class="partners-section__item">
          <img src="../images/partners/sber.svg" alt="логотип сбер" class="partners-section__img">
        </li>
        <li class="partners-section__item">
          <img src="../images/partners/technonikol.svg" alt="логотип Технониколь" class="partners-section__img">
        </li>
      </ul>
    </div>
  </div>
</section>
