<section class="promotions-section">
  <div class="promotions-section__container">
    <div class="promotions-section__left">
      <h2 class="promotions-section__title">Акция! Крыша в подарок!</h2>

      <p class="promotions-section__description">
        При заключении договора на строительство дома
        в течении месяца, получи КРЫШУ в подарок!
        Акция действует на покрытие из металлочерепицы: Классик 0,5 Satin (не более 3% от сметной стоимости).
      </p>

      <small class="promotions-section__small">
        <span>*Если планируется другое покрытие кровли, то скидка на покрытие не более 3% от сметной стоимости строительства.</span>
        <span>**Данная акция не суммируется акцией “Лучшая цена!”</span>
      </small>

      <button class="btn">Получить консультацию</button>
    </div>

    <div class="promotions-section__right" style="background: url('../images/promo-prev.png') no-repeat; background-size: cover;">

    </div>
  </div>
</section>
