<section class="select-project-section">
  <div class="select-project-section__container">
    <h2 class="select-project-section__title">Выбрать нужный проект дома</h2>

    <div class="select-project-section__content">

      <div class="house-project">
        <a href="#" class="house-project__link">
          <div class="house-project__image" style="background: url('../images/house-proj1.png') no-repeat center; background-size: cover"></div>

          <div class="house-project__content">
            <div class="house-project__name">Проект «АИСТ-КОМФОРТ-125»</div>

            <div class="house-project__cost">
              <div class="house-project__sum">6,55 млн. ₽</div>
              <div class="house-project__footage">125 м2</div>
            </div>

            <button class="btn btn-blue">Подробнее</button>
          </div>
        </a>
      </div>

      <div class="house-project">
        <a href="#" class="house-project__link">
          <div class="house-project__image" style="background: url('../images/house-proj2.png') no-repeat center; background-size: cover"></div>

          <div class="house-project__content">
            <div class="house-project__name">Проект «АИСТ-147»</div>

            <div class="house-project__cost">
              <div class="house-project__sum">9,50 млн. ₽</div>
              <div class="house-project__footage">147 м2</div>
            </div>

            <button class="btn btn-blue">Подробнее</button>
          </div>
        </a>
      </div>

      <div class="house-project">
        <a href="#" class="house-project__link">
          <div class="house-project__image" style="background: url('../images/house-proj3.png') no-repeat center; background-size: cover"></div>

          <div class="house-project__content">
            <div class="house-project__name">Проект «АИСТ-121»</div>

            <div class="house-project__cost">
              <div class="house-project__sum">7,26 млн. ₽</div>
              <div class="house-project__footage">121 м2</div>
            </div>

            <button class="btn btn-blue">Подробнее</button>
          </div>
        </a>
      </div>

    </div>

    <div class="select-project-section__btn">
      <a href="#" class="btn">Смотреть все проекты</a>
    </div>
  </div>
</section>
