<section class="stages-construction-section">
  <div class="stages-construction-section__container">
    <h2 class="stages-construction-section__title">Этапы строительства</h2>

    <div class="stages-construction-section__content">
      <ul class="stages-construction-section__list">
        <li class="stages-construction-section__item">
          <div class="stages-construction-section__number">1</div>
          <div class="stages-construction-section__description">
            <div class="stages-construction-section__item-title">Проектирование</div>
            <div class="stages-construction-section__item-text">Разработка индивидуального проекта с учетом ваших пожеланий и особенностей участка</div>
          </div>
        </li>
        <li class="stages-construction-section__item">
          <div class="stages-construction-section__number">2</div>
          <div class="stages-construction-section__description">
            <div class="stages-construction-section__item-title">Подготовка участка</div>
            <div class="stages-construction-section__item-text">Геодезические работы, разметка и подготовка фундамента</div>
          </div>
        </li>
        <li class="stages-construction-section__item">
          <div class="stages-construction-section__number">3</div>
          <div class="stages-construction-section__description">
            <div class="stages-construction-section__item-title">Возведение коробки</div>
            <div class="stages-construction-section__item-text">Кладка стен с соблюдением всех технологических норм</div>
          </div>
        </li>
        <li class="stages-construction-section__item">
          <div class="stages-construction-section__number">4</div>
          <div class="stages-construction-section__description">
            <div class="stages-construction-section__item-title">Кровля</div>
            <div class="stages-construction-section__item-text">Монтаж надежной и долговечной кровли, обеспечивающей защиту от непогоды</div>
          </div>
        </li>
        <li class="stages-construction-section__item">
          <div class="stages-construction-section__number">5</div>
          <div class="stages-construction-section__description">
            <div class="stages-construction-section__item-title">Инженерные сети</div>
            <div class="stages-construction-section__item-text">Прокладка электрики, водоснабжения, отопления и канализации</div>
          </div>
        </li>
        <li class="stages-construction-section__item">
          <div class="stages-construction-section__number">6</div>
          <div class="stages-construction-section__description">
            <div class="stages-construction-section__item-title">Отделочные работы</div>
            <div class="stages-construction-section__item-text">Внутренняя и внешняя отделка дома в соответствии с Вашим дизайном</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
