<div class="timeline-carousel swiper-vertical-container">
  <div id="stop-scroll" class="timeline-carousel__stop-scroll"></div>
  <div class="timeline-carousel__instruction" id="instruction">
    <span class="timeline-carousel__instruction-text">Листайте вниз, чтобы<br>читать историю</span>
    <span>
      <svg width="69" height="73" viewBox="0 0 69 73" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M63.2295 5.19501L34.2437 34.2039" stroke="white" stroke-width="7" stroke-linecap="square"/>
        <path d="M63.2295 5.19501L34.2437 34.2039" stroke="white" stroke-width="7" stroke-linecap="square"/>
        <path d="M5.25781 5.19501L34.2436 34.2039" stroke="white" stroke-width="7" stroke-linecap="square"/>
        <path d="M63.2295 38.8513L34.2437 67.8602" stroke="white" stroke-width="7" stroke-linecap="square"/>
        <path d="M63.2295 38.8513L34.2437 67.8602" stroke="white" stroke-width="7" stroke-linecap="square"/>
        <path d="M5.25781 38.8512L34.2436 67.8601" stroke="white" stroke-width="7" stroke-linecap="square"/>
      </svg>
    </span>
  </div>
  <ul class="timeline-carousel__list swiper-wrapper">
    <li class="timeline-carousel__item swiper-slide">
      <div class="timeline-carousel__left" id="scroll-left">
        <div class="timeline-carousel__img-wrap">
          <img src="../images/timeline-img2.jpg" alt="#" class="timeline-carousel__img">
        </div>
        <div class="timeline-carousel__year">
          <span class="timeline-carousel__year-number">2024</span>
          <span class="timeline-carousel__figure"></span>
        </div>
      </div>
      <div class="timeline-carousel__text">География строительства активно расширяется за пределами Тверской и Московской областей</div>
    </li>

    <li class="timeline-carousel__item swiper-slide">
      <div class="timeline-carousel__left">
        <div class="timeline-carousel__img-wrap">
          <img src="../images/timeline-img.png" alt="#" class="timeline-carousel__img">
        </div>
        <div class="timeline-carousel__year">
          <span class="timeline-carousel__year-number">2023</span>
          <span class="timeline-carousel__figure"></span>
        </div>
      </div>
      <div class="timeline-carousel__text">Наращиваем обороты за счет повышения квалификации сотрудников</div>
    </li>

    <li class="timeline-carousel__item swiper-slide">
      <div class="timeline-carousel__left">
        <div class="timeline-carousel__img-wrap">
          <img src="../images/timeline-img3.jpg" alt="#" class="timeline-carousel__img">
        </div>
        <div class="timeline-carousel__year">
          <span class="timeline-carousel__year-number">2022</span>
          <span class="timeline-carousel__figure"></span>
        </div>
      </div>
      <div class="timeline-carousel__text">Расширение компании, увеличение штата специалистов. Появились свои типовые проекты домов</div>
    </li>

    <li class="timeline-carousel__item swiper-slide">
      <div class="timeline-carousel__left">
        <div class="timeline-carousel__img-wrap">
          <img src="../images/timeline-img.png" alt="#" class="timeline-carousel__img">
        </div>
        <div class="timeline-carousel__year">
          <span class="timeline-carousel__year-number">2021</span>
          <span class="timeline-carousel__figure"></span>
        </div>
      </div>
      <div class="timeline-carousel__text">Наша команда активно занимается развитием компании АИСТ. Запуск сайта. Первые совместные заказы «АИСТ». Построены первые 8 домов</div>
    </li>

    <li class="timeline-carousel__item swiper-slide">
      <div class="timeline-carousel__left">
        <div class="timeline-carousel__img-wrap">
          <img src="../images/timeline-img.png" alt="#" class="timeline-carousel__img">
        </div>
        <div class="timeline-carousel__year">
          <span class="timeline-carousel__year-number">2020</span>
          <span class="timeline-carousel__figure"></span>
        </div>
      </div>
      <div class="timeline-carousel__text">Наращиваем обороты за счет повышения квалификации сотрудников</div>
    </li>

    <li class="timeline-carousel__item swiper-slide">
      <div class="timeline-carousel__left">
        <div class="timeline-carousel__img-wrap">
          <img src="../images/timeline-img.png" alt="#" class="timeline-carousel__img">
        </div>
        <div class="timeline-carousel__year">
          <span class="timeline-carousel__year-number">2019</span>
          <span class="timeline-carousel__figure"></span>
        </div>
      </div>
      <div class="timeline-carousel__text">Наращиваем обороты за счет повышения квалификации сотрудников</div>
    </li>

    <li class="timeline-carousel__item swiper-slide">
      <div class="timeline-carousel__left">
        <div class="timeline-carousel__img-wrap">
          <img src="../images/timeline-img.png" alt="#" class="timeline-carousel__img">
        </div>
        <div class="timeline-carousel__year">
          <span class="timeline-carousel__year-number">2018</span>
          <span class="timeline-carousel__figure"></span>
        </div>
      </div>
      <div class="timeline-carousel__text">Наращиваем обороты за счет повышения квалификации сотрудников</div>
    </li>

    <li class="timeline-carousel__item swiper-slide">
      <div class="timeline-carousel__left">
        <div class="timeline-carousel__img-wrap">
          <img src="../images/timeline-img.png" alt="#" class="timeline-carousel__img">
        </div>
        <div class="timeline-carousel__year">
          <span class="timeline-carousel__year-number">2015</span>
          <span class="timeline-carousel__figure"></span>
        </div>
      </div>
      <div class="timeline-carousel__text">Наращиваем обороты за счет повышения квалификации сотрудников</div>
    </li>

    <li class="timeline-carousel__item swiper-slide">
      <div class="timeline-carousel__left">
        <div class="timeline-carousel__img-wrap">
          <img src="../images/timeline-img.png" alt="#" class="timeline-carousel__img">
        </div>
        <div class="timeline-carousel__year">
          <span class="timeline-carousel__year-number">2010</span>
          <span class="timeline-carousel__figure"></span>
        </div>
      </div>
      <div class="timeline-carousel__text">Наращиваем обороты за счет повышения квалификации сотрудников</div>
    </li>

    <li class="timeline-carousel__item swiper-slide">
      <div class="timeline-carousel__left">
        <div class="timeline-carousel__img-wrap">
          <img src="../images/timeline-img.png" alt="#" class="timeline-carousel__img">
        </div>
        <div class="timeline-carousel__year">
          <span class="timeline-carousel__year-number">1996</span>
          <span class="timeline-carousel__figure"></span>
        </div>
      </div>
      <div class="timeline-carousel__text">Пирожков Максим. Начало строительной карьеры с выполнения крыши дома</div>
    </li>
  </ul>
</div>
