<section class="why-we-section">
  <div class="why-we-section__container">
    <h2 class="why-we-section__title">Почему заказчики выбирают нас</h2>
    <div class="animated-target" id="target1">
      <div class="why-we-section__sliders">

      <div class="cards-slide swiper-container">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="advantages-slide">
              <div class="advantages-slide__img-wrapper">
                <img src="../images/garant-icon.png" alt="Гарантия качества" class="advantages-slide__img">
              </div>
              <div class="advantages-slide__content">
                <div class="advantages-slide__title">Гарантия качества</div>
                <div class="advantages-slide__text">Многолетний опыт в малоэтажном строительстве и регулярное повышение квалификации обеспечивают высокую эффективность и качество на каждом этапе</div>
              </div>
            </div>
          </div>


          <div class="swiper-slide">
            <div class="advantages-slide">
              <div class="advantages-slide__img-wrapper">
                <img src="../images/percent-icon.png" alt="Ипотека без хлопот" class="advantages-slide__img">
              </div>
              <div class="advantages-slide__content">
                <div class="advantages-slide__title">Ипотека без лишних хлопот</div>
                <div class="advantages-slide__text">Сопровождаем вас на каждом этапе оформления ипотеки и работаем через систему Домклик. Надежность подтверждена аккредитацией крупнейшего банка страны</div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="advantages-slide">
              <div class="advantages-slide__img-wrapper">
                <img src="../images/materials-icon.png" alt="Современные технологии" class="advantages-slide__img">
              </div>
              <div class="advantages-slide__content">
                <div class="advantages-slide__title">Современные технологии и качественные материалы</div>
                <div class="advantages-slide__text">Мы используем только передовые технологии и материалы, чтобы ваши дома были комфортными, долговечными и энергоэффективными</div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="advantages-slide">
              <div class="advantages-slide__img-wrapper">
                <img src="../images/notebook-icon.png" alt="Команда профессионалов" class="advantages-slide__img">
              </div>
              <div class="advantages-slide__content">
                <div class="advantages-slide__title">Строим по нормам, рассчитываем с точностью</div>
                <div class="advantages-slide__text">Все работы выполняются по строгим строительным стандартам. Расчёт фундамента проводится на основе геологии с использованием лицензионного ПО</div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="advantages-slide">
              <div class="advantages-slide__img-wrapper">
                <img src="../images/team-icon.png" alt="Команда профессионалов" class="advantages-slide__img">
              </div>
              <div class="advantages-slide__content">
                <div class="advantages-slide__title">Команда профессионалов</div>
                <div class="advantages-slide__text">Наш штат состоит из опытных инженерно-технических специалистов, готовых справляться с самыми сложными проектами</div>
              </div>
            </div>
          </div>

        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper_navigation">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

      </div>
    </div>
      <div class="finger"></div>
    </div>
  </div>
</section>
